.flex {
	display: flex;
}
.flex-item {
	align-items: center;
}
.flex-JustBetween {
	justify-content: space-between;
}
.flex-JustCenter {
	justify-content: center;
}
.flex-1{
	flex: 1
}
.flex-column {
	flex-direction: column;
}
.uni-scroll-view div{
	height: 100%;
}
.user-set-btn {
	width: 100%;
	margin: 20rpx 0;
	background: #ffe933 !important;
	color: #333 !important;
	border: 0;
}