.flex {
	display: flex;
}
.flex-item {
	align-items: center;
}
.flex-JustBetween {
	justify-content: space-between;
}
.flex-JustCenter {
	justify-content: center;
}
.flex-1{
	flex: 1
}
.flex-column {
	flex-direction: column;
}
.uni-scroll-view div{
	height: 100%;
}